@import "../variables";
@import "../mixins";

.information.about-work {
  background-color: $dark-blue;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;

  .information {
    &-content {
      background: transparent;
    }

    &-title {
      color: $white;
    }

    &-text {
      color: $white;
    }

    &-img {
      position: relative;
      width: 600px;
      height: 650px;
      margin-top: -80px;
    }
  }
}

@include breakpoint(max-width, 1024px) {
  .information.about-work {
    margin-top: 0px;
    padding-right: 24px;
  }

  .information.about-work .information-img {
    border-radius: 100px;
    margin: auto 0;
  }
}

@include breakpoint(max-width, 1320px) {
  .information.about-work .information-img {
    width: 400px;
    height: 550px;
  }
}

@include breakpoint(max-width, 600px) {
  .information.about-work {
    padding-right: 0px;
  }

  .information.about-work .information-img {
    display: none;
  }
}
