@import "../variables";
@import "../mixins";

@include informationSection();

.information.company-history {
  background-color: $white;
  .information {
    &-content {
      background-color: $dark-blue;
    }
  }
}

@include breakpoint(max-width, 1024px) {
  .information {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    &-content {
      width: 70%;
    }

    &-images {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-img {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 180px;
      height: 180px;
    }
  }
}

@include breakpoint(max-width, 1200px) {
  .information {
    &-img {
      &.first {
        right: 64px;
        width: 200px;
        height: 300px;
      }

      &.second {
        right: 0;
        top: 260px;

        width: 180px;
        height: 280px;
      }

      &.third {
        left: 50%;
        top: 60%;

        width: 300px;
        height: 300px;
      }
    }
  }
}

@include breakpoint(max-width, 768px) {
  .information {
    gap: 24px;

    &-content {
      width: 70%;
    }

    &-images {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-img {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 150px !important;
      height: 150px !important;
    }
  }
}

@include breakpoint(max-width, 600px) {
  .information {
    min-height: fit-content;
    &-content {
      width: 100%;

      padding: 40px 24px;
      text-align: center;
      align-items: center;
      border-bottom-right-radius: 0px;
    }

    &-text {
      font-size: 0.9em;
      line-height: 24px;
      width: 100%;
    }

    &-images {
      display: none;
    }
  }
}
