@import "../variables";
@import "../mixins";

.customer-feedback {
  background: linear-gradient(to bottom, $dark-blue, $dark-purple);
  padding: 64px 0px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 72px;

  position: relative;

  &-img {
    position: absolute;
    bottom: -50px;
    left: 10%;

    & > img {
      width: 300px;
      border-radius: 4px;
    }

    & > i {
      color: $white;
      background-color: $purple;
      padding: 8px;
      border-radius: 4px;
      font-size: 1.2em;

      position: absolute;
      top: 150px;
      right: -16px;
    }
  }

  &-content {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    text-align: end;
    margin-right: 12%;

    & > footer {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 64px;
    }
  }

  &-text {
    color: $white;
    font-weight: 700;
    font-style: italic;
    line-height: 32px;
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}

.customer-feedback-name {
  & > h3 {
    color: $white;
    font-weight: 700;
    font-size: 24px;
  }

  & > img {
    display: none;
  }
}

.customer-feedback-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: $white;

  & > span {
    font-size: 0.8em;
    color: $light-gray;
  }
}

@include breakpoint(max-width, 1320px) {
  .customer-feedback {
    &-content {
      margin-right: 5%;
    }
  }
}

@include breakpoint(max-width, 1024px) {
  .customer-feedback {
    justify-content: center;

    &-content {
      margin-right: 0px;
      text-align: center;

      & > footer {
        justify-content: center;
      }
    }

    &-img {
      display: none;
    }

    &-name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      & > img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
}

@include breakpoint(max-width, 600px) {
  .customer-feedback {
    padding: 64px 24px;

    &-content {
      & > footer {
        flex-direction: column;
        align-items: center;
        gap: 32px;
      }
    }

    &-text {
      font-size: 1.2em;
      line-height: 24px;
      text-align: center;
    }

    &-name {
      align-items: center;
      justify-content: center;

      & > h3 {
        font-size: 1.2em;
      }

      & > img {
        width: 30px;
        height: 30px;
      }
    }

    &-info {
      text-align: center;
    }
  }
}
