@import "../variables";

.customer-feedback {
  background-color: $white;
  padding: 64px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.customer-feedback-img {
  position: relative;
}

.customer-feedback-img > img {
  width: 250px;
  border-radius: 4px;
}

.customer-feedback-img > i {
  color: $white;
  background-color: $purple;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2em;

  position: absolute;
  top: 150px;
  right: -16px;
}

.customer-feedback-content {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.customer-feedback-text {
  color: $dark-purple;
  font-weight: 700;
  font-style: italic;
  line-height: 30px;
  font-size: 24px;
}

.customer-feedback-name > h3 {
  color: $text-black;
  font-weight: 700;
  font-size: 24px;
}

.customer-feedback-name > img {
  display: none;
}

.customer-feedback-content > footer {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.customer-feedback-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customer-feedback-info > span {
  font-size: 0.8em;
  color: $gray;
}

.customer-feedback-info > .purple {
  color: $light-purple;
}

.customer-feedback-info > .green {
  color: $green;
}

@media screen and (max-width: 1024px) {
  .customer-feedback-img {
    display: none;
  }

  .customer-feedback-name {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .customer-feedback-name > img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  .customer-feedback {
    padding: 64px 24px;
  }

  .customer-feedback-text {
    font-size: 1.2em;
    line-height: 24px;
    text-align: center;
  }

  .customer-feedback-name {
    align-items: center;
    justify-content: center;
  }

  .customer-feedback-name > h3 {
    font-size: 1.2em;
  }

  .customer-feedback-name > img {
    width: 30px;
    height: 30px;
  }

  .customer-feedback-content > footer {
    flex-direction: column;
    align-items: center;
  }

  .customer-feedback-info {
    text-align: center;
  }
}
