@import "../mixins";
@import "../variables";

.footer {
  background-color: $dark-purple;
  color: $white;
  padding: 16px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  &-logo {
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }

  a {
    color: $white;
    @include linkHoverAndActive(#aaa);
  }

  &-content {
    width: 70%;
    padding: 32px 0px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {
      @include linkHoverAndActive(#aaa);
    }
  }

  &-socials-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-info {
    color: $light-gray;
  }
}

@include breakpoint(max-width, 600px) {
  .footer-content {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
