@import "../mixins";
@import "../variables";

.header {
  padding: 16px 56px;
  background-color: $dark-purple;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    font-size: 40px;
    font-weight: bold;
    color: $white;

    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    a {
      color: $light-gray;
      font-weight: 600;
      font-size: 1.1em;
      letter-spacing: 1px;

      @include linkHoverAndActive();
    }
  }
}

@include breakpoint(max-width, 768px) {
  .header {
    flex-direction: column;
    gap: 24px;
  }

  .header-nav a {
    font-size: 1em;
  }
}

@include breakpoint(max-width, 500px) {
  .header-nav ul {
    flex-direction: column;
  }
}
