@import "../mixins";
@import "../variables";

.newsletter {
  background-color: $white;
  padding: 72px 0px;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.newsletter-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsletter-infos > h2 {
  color: $dark-purple;
  font-size: 2em;
}

.newsletter-infos > p {
  color: $gray;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

.newsletter > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter-form-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newsletter-form-group > button {
  @include formatButton($purple, $white);
  @include hoverButton($dark-purple, $white);
}

.newsletter-form-group > input {
  @include formatInput($purple, $dark-purple);
}

.newsletter-checkbox-label {
  color: $gray;
  font-size: 0.8em;
  cursor: pointer;
}
