@import "../variables";
@import "../mixins";

.presentation {
  width: 100%;
  padding: 72px 32px;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentation-title {
  color: $white;
  font-size: 3.2em;
  font-size: 52px;
}

.presentation-text {
  color: $light-gray;
  font-size: 1.1em;
  line-height: 28px;
}

.presentation-link {
  background-color: $purple;
  color: $white;
  padding: 16px;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 700;
  margin-top: 24px;

  display: flex;
  align-items: center;
  gap: 24px;

  @include hoverButton($white, $purple);
}

.swiper {
  margin-top: 56px;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  gap: 56px;
}

.swiper-slide img {
  display: block;
  width: 280px;
  height: 300px;
  border-radius: 4px;
  object-fit: cover;
}

@media screen and (max-width: 1250px) {
  .swiper-wrapper {
    gap: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-wrapper {
    gap: 180px;
  }
}

@media screen and (max-width: 768px) {
  .presentation-title {
    font-size: 2em;
  }

  .presentation-text {
    color: $light-gray;
    font-size: 0.9em;
    line-height: 24px;
  }

  .presentation-link {
    font-size: 0.9em;
    padding: 12px;
  }

  .swiper-wrapper {
    // gap: 0px;
  }

  .swiper-slide img {
    width: 200px;
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .presentation {
    padding: 72px 8px;
  }

  .presentation-title {
    font-size: 1.6em;
  }

  .presentation-text {
    color: $light-gray;
    font-size: 0.75em;
    line-height: 24px;
  }

  .presentation-link {
    font-size: 0.75em;
    padding: 10px;
  }
}
