@import "../mixins";
@import "../variables";

.where-to-find {
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  padding: 54px 0px;
}

.where-to-find-title {
  color: $dark-blue;
  font-size: 2.2em;
}

.where-to-find > main {
  display: flex;
  gap: 64px;
}

.where-to-find-map {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.where-to-find-map.active {
  visibility: visible;
  width: 700px;
  height: 350px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px $dark-purple;
}

.where-to-find-locations-name > ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.where-to-find-btn {
  font-size: 1em;
  @include formatButton(transparent, $dark-blue);
  @include hoverButton($dark-purple, $white);
}

.where-to-find-btn.active {
  @include formatButton($purple, $white);
  @include hoverButton($dark-purple, $white);
}
