@import "./variables";

@mixin linkHoverAndActive($colorHover: #fff, $colorActive: #888) {
  transition: 0.15s ease-in-out;

  &:hover {
    color: $colorHover;
  }

  &:active {
    color: $colorActive;
  }
}

@mixin formatButton($bgColor: transparent, $color: #333) {
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  height: 40px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: $bgColor;
  color: $color;
  cursor: pointer;
}

@mixin hoverButton($bgColor: #fff, $color: #333) {
  transition: 0.15s ease-in-out;

  &:hover {
    background-color: $bgColor;
    color: $color;
  }
}

@mixin formatInput($borderColor: #333, $focusBorderColor: #111) {
  outline: 0;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid $borderColor;
  transition: 0.15s ease-in-out;

  &[type="email"] {
    height: 40px;
    width: 250px;
  }

  &[type="email"]:focus {
    border-color: $focusBorderColor;
    box-shadow: 0px 0px 4px 0px $focusBorderColor;
  }
}

@mixin scrollbar($color: $gray, $bgColor: $dark-blue, $width: 10px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $bgColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 50px;
  }
}

@mixin breakpoint($point, $value: 0) {
  @media only screen and ($point: $value) {
    @content;
  }
}

@mixin informationSection() {
  .information {
    width: 100%;
    min-height: 100vh;
    position: relative;

    &-content {
      width: 55%;
      height: 100%;
      padding: 120px 0px 80px 80px;
      border-bottom-right-radius: 8px;

      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-title {
      font-size: 2.5em;
      color: $dark-blue;
      color: $white;
    }

    &-text {
      color: $dark-blue;
      color: $white;
      font-size: 1.1em;
      line-height: 28px;
      width: 75%;
    }

    &-link {
      width: fit-content;
      @include formatButton($white, $dark-blue);
      @include hoverButton($purple, $white);
      margin-top: 24px;
    }

    &-img {
      position: absolute;
      width: 200px;
      z-index: 1;
      top: 0;
      object-fit: cover;
      box-shadow: 0px 0px 3px 0px #222;
      border-radius: 4px;

      &.first {
        right: 64px;
        width: 280px;
        height: 350px;
        z-index: 10;
      }

      &.second {
        right: 0;
        top: 300px;

        width: 250px;
        height: 320px;
      }

      &.third {
        left: 40%;
        top: 55%;

        width: 400px;
        height: 400px;
      }

      &.fourth {
        right: 0;
        width: 600px;
        height: 600px;
      }
    }
  }
}
