@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: $dark-purple;
}

html {
  scroll-behavior: smooth !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
